{% extends 'blog/base.html' %}
{% load staticfiles %}
{% block content %}
  <!-- <h2>About myself </h2> -->
  <div class="container text-justify">
    <div class="jumbotron">
      <!-- <img  src="{% static 'media/blog/Bewerbungsbild.jpg' %}" width="180px" height="250px"alt=""> -->
      <h2>Philipp Maïno</h2>
      <p>A recent electrical engineering graduate with a 1.9 honours degree (equivalent to UK First Class Honours) from the University of Kaiserslautern in Germany, looking to utilise and further improve my analytical and advanced problem solving skills in a dynamic and challenging environment.</p>
      <p>Through my engineering background I am equipped with a methodical mindset with great attention to detail which already proved itself very useful during several software projects. I am looking to utilise those skills as I start a career in software development.</p>
      <p>Over the last few months I have successfully completed several online courses to broaden my knowledge in Python, JavaScript, Django, CSS, HTML, Git, Bootstrap and jQuery as well as the IDE’s Atom and Sublime Text. That includes for example creating single- and multiuser homepages.</p>
    </div>
  </div>


  <div class="container text-justify">
    <h2>Summary</h2>
    <ul>
        <li>Co-developed a worldwide unique localisation method for topology faults in meshed local low-voltage grids based on Smart Meter data, as part of a research project funded by the German Federal Ministry of Economics and Energy.</li>
        <li>Subsequently secured an internship with a partnering energy company where I successfully designed and implemented a field test through which I was able to prove the functionality of the above localisation method.</li>
        <li>Implemented the localisation algorithm in a SCADA system and significantly improved load approximation of secondary substations through development and integration of a new approach while working for 1.5 years for an IT company specialising in Smart Grids.</li>
        <li>3 years experience in MATLAB, 1.5 years experience in Python, currently learning Django, JavaScript, CSS, HTML, jQuery and Bootstrap.</li>
    </ul>
  </div>
  <br>
  <hr>
  <div class="container">
    <div class="text-justify">
      <h2>Education</h2>
      <h3>University of Kaiserslautern, Germany</h3>
      <p>(2011 – 2017)</p>
      <p>1.9 Dipl. Eng. (equivalent to M.Sc. First Class Honours) in Electrical Engineering, speciality: electrical power engineering</p>
      <h6>Key Skills gained:</h6>
      <ul>
        <li>Analytical and conceptual thinking, with a proactive and conscientious approach to managing workloads</li>
        <li>Augmented skills in the programming languages MATLAB, Python, Java</li>
        <li>Independent and quick acquisition of new knowledge</li>
        <li>Advanced and purposeful problem solving skills</li>
        <li>Application- and target-oriented software engineering</li>
        <li>Ability to handle, analyse and interpret complex data</li>
        <li>Proficiency in all areas of Microsoft Office, including Excel, Word and PowerPoint</li>
      </ul>
      Notable Modules – Power Systems I & II, Power Generation I & II, Network Planning and Management I & II, High Voltage Technology
    </div>
    <br>

    <h3>Gymnasium am Kaiserdom, Speyer, Germany (Secondary School / Sixth Form)</h3>
    <div class="text-justify">

      <p>(2002 - 2011)</p>
      <p>General qualification for university entrance (Abitur, equivalent to A-levels)</p>
      <h6>Majors:</h6>
      <ul>
        <li>Mathematics – B</li>
        <li>Ancient Greek – B</li>
        <li>Physics – C</li>
      </ul>
    </div>
    <hr>
    <h2>Experience</h2>
    <p> <em>For several years of my student career I worked on a new localisation method for topology faults in meshed low-voltage grids which was devised within a research project funded by the German Federal Ministry of Economics and Energy. Therefore, this CV is written in chronological order for ease and clarity.</em></p>

    <h3>Research Assistant, Chair for Energy Systems and Energy Management,
        University of Kaiserslautern, Germany</h3>
    <p>(Nov 2013 – Mar 2015, Aug 2017 – Oct 2017)</p>
    <h6>Key results:</h6>
    <ul>
      <li>Made parameter studies possible through development of a software interface</li>
      <li>Verified algorithm with creative conceptual design based on synthetic data</li>
      </ul>
    <h6>Key skills utilised:</h6>
    <ul>
      <li>Independent learning of scripting language MATLAB in order to create User Interface as well as structuring and processing extensive data packages</li>
    </ul>

    <h3>Intern, Local DSO Stadtwerke Kaiserslautern Versorgungs-AG, Kaiserslautern, Germany</h3>
    <p>(Apr 2016 –Jun 2016)</p>
    <h6>Key results:</h6>
    <ul>
      <li>Successful design, implementation and realisation of a field test within a meshed local low-voltage grid to verify a localisation method for topology faults</li>
    </ul>
    <h6>Key skills utilised:</h6>
    <ul>
      <li>Interdisciplinary collaboration with project partners</li>
      <li>Fundamentals of project management</li>
      <li>Quick understanding of issues and application of solution expertise</li>
      <li>Object-Oriented Coding in Python while using the IDE Eclipse, including data analysis and modelling with the packages “numpy” and “pandas”</li>
    </ul>

    <h3>Student Employee, IDS GmbH, Ettlingen, Germany</h3>
    <p>(Aug 2016 – Mar 2018)</p>
    <h6>Key results:</h6>
    <ul>
      <li>Implementation of the topology fault localisation algorithm in a SCADA system</li>
      <li>Successful finalisation of the research project ‘SmartSCADA’</li>
      <li>Significantly improved load approximation of secondary substations through development and integration of a new approach</li>
    </ul>
    <h6>Key skills utilised:</h6>
    <ul>
      <li>Enhancement of the skills acquired during studies, including independent project development, collaborating within a team and adapting to the needs of the employing company</li>
      <li>Creating User Interface as well as data processing with Java, utilizing for example math3 library for linear interpolation</li>
    </ul>
  </div>



{% endblock %}
